@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

html, body, * {
	margin: 0;
	padding: 0;
}


body {
	-webkit-font-smoothing: antialiased;
	font-family: "Circular std", Monospace !important;
	color: #000;
	background: #fff;
}

h1 {
	margin-bottom: 1rem !important;
}

.grid ul li {
	list-style-type: none;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.grid ul {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.banner {
	background: #000;
	color: #fff;
	padding: 10rem;
	width: 100%;
}

a {
	color: #222 !important;
}

.parent a {
	color: #16a085 !important;
}

.searching a {
	color: #d35400 !important;
}

.key {
	color: #aaa;
	padding-top: 1rem;
}

.sp > .column {
	padding: 5rem 10rem !important;
	border-bottom: 2px solid #eee;
}

.sp > .column:nth-child(odd) { background: #fafafa }