#{extends 'main.html' /} #{set title:'Home' /}

<div class="banner">
	<h1>Family tree</h1>
</div>

<div class="ui container" style="padding: 6rem 0;">
	<h1> Select a member: </h1>
	#{list items: members, as: 'member'}
		<li><a href="/familytree/${member.getName()}">${member.getName()}, ${member.getDob()}, ${member.getGender()}</a></li> <br>
	#{/list}
</div>


