#{extends 'main.html' /} #{set title:'Home' /}

<div class="banner">
	<h1>Family tree</h1>
</div>
			
<div class="grid" style="text-align: center; style="padding-bottom: 3rem;">
    <!-- If there is a spouse, use a 2 column grid -->
    #{if driver.search_sp != null}
    <div class="grid__col grid__col--1-of-2">
    #{/if} #{else} #{/else}

        <div class="grid__col grid__col--2-of-2" style="padding-top: 3rem;">
            <h1>${person.getName()}'s family</h1>
        </div>

        <!-- Paternal Grandparents -->
        <ul class="grid__col grid__col--6-of-12">
            #{list items: driver.search.pgrandparents(), as: 'pgp'}
            <li>
                <a href="/familytree/${pgp.getName()}">
                	<img width="50" src="/public/images/${pgp.getGender()}.jpg" class="ui circular image"> ${pgp.getName()}
                </a>
            </li>
            #{/list}
        </ul>

        <!-- Maternal Grandparents -->
        <ul class="grid__col grid__col--6-of-12">
            #{list items: driver.search.mgrandparents(), as: 'mgp'}
            <li>
            	<a href="/familytree/${mgp.getName()}">
                	<img width="50" src="/public/images/${mgp.getGender()}.jpg" class="ui circular image"> ${mgp.getName()}
                </a>
            </li>
            #{/list}
        </ul>

        <!-- Father and father's siblings -->
        <ul class="grid__col grid__col--1-of-2">
            #{if person.getFather() != null}
                #{list items: person.getFather().getSiblings(), as: 'sib'}
                <li>
                 	<a href="/familytree/${sib.getName()}">
                    	<img width="50" src="/public/images/${sib.getGender()}.jpg" class="ui circular image"> ${sib.getName()}
                	</a>
                </li>
                #{/list}

                <li class="parent">
                	<a href="/familytree/${person.getFather().getName()}">
                    	<img width="50" src="/public/images/M.jpg" class="ui circular image"> ${person.getFather().getName()}
                    </a>
                </li>
            #{/if} 
            
            #{else}
            <li class="parent">
                <img width="50" src="/public/images/M.jpg" class="ui circular image"> ?
            </li>
            #{/else}
        </ul>

        <!-- Mother and mother's siblings -->
        <ul class="grid__col grid__col--1-of-2">
            #{if person.getMother() != null}
                <li class="parent">
                	<a href="/familytree/${person.getMother().getName()}">
                    	<img width="50" src="/public/images/F.jpg" class="ui circular image"> ${person.getMother().getName()}
               		</a>
                </li>

                #{list items: person.getMother().getSiblings(), as: 'sib'}
                <li>
                	<a href="/familytree/${sib.getName()}">
                    	<img width="50" src="/public/images/${sib.getGender()}.jpg" class="ui circular image"> ${sib.getName()}
                	</a>
                </li>
                #{/list} 
            #{/if} 
            
            #{else}
            <li class="parent">
                <img width="50" src="/public/images/F.jpg" class="ui circular image"> ?
            </li>
            #{/else}
        </ul>

        <!-- Person & siblings -->
        <ul class="grid__col grid__col--3-of-5">
            #{list items: person.getSiblings(), as: 'sib'}
            <li>
            	<a href="/familytree/${sib.getName()}">
                	<img width="50" src="/public/images/${sib.getGender()}.jpg" class="ui circular image"> ${sib.getName()}
            	</a>
            </li>
            #{/list}

            <li class="searching">
            	<a href="/familytree/${person.getName()}">
                	<img width="50" src="/public/images/${person.getGender()}.jpg" class="ui circular image"> ${person.getName()}
            	</a>
            </li>
        </ul>

        #{if driver.search_sp != null}
    </div>

    <!--  Spouse -->
    <div class="grid__col grid__col--1-of-2" style="background: #f2f2f2;">

        <div class="grid__col grid__col--2-of-2" style="padding-top: 3rem;">
           <h1>${person.getName()}'s spouse's family (${person.getSpouse().getName()})</h1> 
        </div>

        <!-- Grandparents -->
        <ul class="grid__col grid__col--6-of-12">
            #{list items: driver.search_sp.pgrandparents(), as: 'pgp'}
            <li>
            	<a href="/familytree/${pgp.getName()}">
                	<img width="50" src="/public/images/${pgp.getGender()}.jpg" class="ui circular image"> ${pgp.getName()}
            	</a>
            </li>
            #{/list}
        </ul>

        <ul class="grid__col grid__col--6-of-12">
            #{list items: driver.search_sp.mgrandparents(), as: 'mgp'}
            <li>
            	<a href="/familytree/${mgp.getName()}">
                	<img width="50" src="/public/images/${mgp.getGender()}.jpg" class="ui circular image"> ${mgp.getName()}
            	</a>
            </li>
            #{/list}
        </ul>

        <!-- Father and father's siblings -->
        <ul class="grid__col grid__col--1-of-2">
            #{if person.getSpouse().getFather() != null} #{list items: person.getSpouse().getFather().getSiblings(), as:
            'sib'}
            <li>
            	<a href="/familytree/${sib.getName()}">
                	<img width="50" src="/public/images/${sib.getGender()}.jpg" class="ui circular image"> ${sib.getName()}
           		</a>
            </li>
            #{/list}

            <li class="parent">
            	<a href="/familytree/${person.getSpouse().getFather().getName()}">
                	<img width="50" src="/public/images/M.jpg" class="ui circular image"> ${person.getSpouse().getFather().getName()}
            	</a>
            </li>
            #{/if} #{else}
            <li class="parent">
                <img width="50" src="/public/images/M.jpg" class="ui circular image"> ?
            </li>
            #{/else}
        </ul>

        <!-- Mother and mother's siblings -->
        <ul class="grid__col grid__col--1-of-2">
            #{if person.getSpouse().getMother() != null}
            <li class="parent">
            	<a href="/familytree/${person.getSpouse().getMother().getName()}">
                	<img width="50" src="/public/images/F.jpg" class="ui circular image"> ${person.getSpouse().getMother().getName()}
            	</a>
            </li>

            #{list items: person.getSpouse().getMother().getSiblings(), as: 'sib'}
            <li>
            	<a href="/familytree/${sib.getName()}">
                	<img width="50" src="/public/images/${sib.getGender()}.jpg" class="ui circular image"> ${sib.getName()}
            	</a>
            </li>
            #{/list} #{/if} #{else}
            <li class="parent">
                <img width="50" src="/public/images/F.jpg" class="ui circular image"> ?
            </li>
            #{/else}
        </ul>

        <!-- Person & siblings -->
        <ul class="grid__col grid__col--3-of-5">
            <li class="searching">
            	<a href="/familytree/${person.getSpouse().getName()}">
                	<img width="50" src="/public/images/${person.getSpouse().getGender()}.jpg" class="ui circular image"> ${person.getSpouse().getName()}
            	</a>
            </li>

            #{list items: person.getSpouse().getSiblings(), as: 'sib'}
            <li>
            	<a href="/familytree/${sib.getName()}">
                	<img width="50" src="/public/images/${sib.getGender()}.jpg" class="ui circular image"> ${sib.getName()}
            	</a>
            </li>
            #{/list}
        </ul>
    </div>
    #{/if} #{else} #{/else} 
    
    #{if person.getChildren().size() != 0}
        <ul class="grid__col grid__col--3-of-5">
            #{list items: person.getChildren(), as: 'child'}
            <li>
            	<a href="/familytree/${child.getName()}">
                	<img width="50" src="/public/images/${child.getGender()}.jpg" class="ui circular image"> ${child.getName()}
            	</a>
            </li>
            #{/list}
        </ul>
    #{/if}
    
    <div class="grid__col grid__col--2-of-2 key">
    	*Key: Orange = person currently being searched & person's spouse; Green = parent relation.
    </div>
</div>

<div class="banner" style="margin-top: 3rem;">
	<h1>Statistics</h1>
</div>
<div class="ui two column grid sp">
	<div class="column">
		<h1> ${person.getName()} </h1>
		Born in ${person.getDob()} <br><br>
		
		
		#{if person.getSpouse() != null}
		Married to <a href="/familytree/${person.getSpouse().getName()}">${person.getSpouse().getName()}</a> <br>
		#{/if}
		
		Has ${person.getChildren().size()} children <br>
		#{if person.getChildren().size() != 0}
			#{list items: person.getChildren(), as: 'child'}
				<a href="/familytree/${child.getName()}">${child.getName()}</a>
		 	#{/list}
		#{/if}
	</div>
	
	<div class="column">
		<h1> Parents </h1>
		#{if person.getMother() == null && person.getFather() == null} 
			No parents.
		#{/if}
		#{else}
			#{if person.getMother() != null}
				<a href="/familytree/${person.getMother().getName()}">${person.getMother()}</a> <br>
			#{/if}
			#{if person.getFather() != null}
				<a href="/familytree/${person.getFather().getName()}">${person.getFather()}</a> <br>
			#{/if}
		#{/else}
	</div>	
	
	<div class="column">
		<h1> Siblings </h1>
		#{if person.getSiblings().size() != 0}
			#{list items: person.getSiblings(), as: 'sib'}
					<a href="/familytree/${sib.getName()}">${sib.getName()}, ${sib.getDob()}, ${sib.getGender()}</a> <br>
		 	#{/list}
		#{/if}
	 	#{else}
	 	No siblings.
	 	#{/else}
	</div>	
	
	<div class="column">
		<h1> Paternal Uncles </h1>
		#{if driver.search.puncles().size() != 0}
			#{list items: driver.search.puncles(), as: 'punc'}
				${punc.getName()}, ${punc.getDob()}, ${punc.getGender()} <br>
		 	#{/list}
		#{/if}
	 	#{else}
	 	No paternal uncles.
	 	#{/else}
		
		<h1> Paternal Aunts</h1>
		#{if driver.search.paunts().size() != 0}
			#{list items: driver.search.paunts(), as: 'paunt'}
				${paunt.getName()}, ${paunt.getDob()}, ${paunt.getGender()} <br>
		 	#{/list}
		#{/if}
	 	#{else}
	 	No paternal aunts.
	 	#{/else}
	</div>	
	
	<div class="column">
		<h1> Maternal Uncles </h1>
		#{if driver.search.muncles().size() != 0}
			#{list items: driver.search.muncles(), as: 'munc'}
				${munc.getName()}, ${munc.getDob()}, ${munc.getGender()} <br>
		 	#{/list}
	 	#{/if}
	 	#{else}
	 	No maternal uncles.
	 	#{/else}
		
		<h1> Maternal Aunts</h1>
		#{if driver.search.maunts().size() != 0}
			#{list items: driver.search.maunts(), as: 'maunt'}
				${maunt.getName()}, ${maunt.getDob()}, ${maunt.getGender()} <br>
		 	#{/list}
	 	#{/if}
	 	#{else}
	 	No maternal aunts.
	 	#{/else}
	</div>	
	
	<div class="column">
		<h1> Paternal Grandparents </h1>
		#{if driver.search.pgrandparents().getAt(0).getName().equals("?") && driver.search.pgrandparents().getAt(1).getName().equals("?")}
			No paternal grandparents.
		#{/if}
		#{else}
			#{list items: driver.search.pgrandparents(), as: 'pgran'}
				#{if pgran.getName() != "?"}
					${pgran.getName()}, ${pgran.getDob()}, ${pgran.getGender()} <br>
				#{/if}
		 	#{/list}
		 #{/else}
		
		<h1> Maternal Grandparents</h1>
		#{if driver.search.pgrandparents().getAt(0).getName().equals("?") && driver.search.pgrandparents().getAt(1).getName().equals("?")}
			No maternal grandparents.
		#{/if}
		#{else}
			#{list items: driver.search.mgrandparents(), as: 'mgran'}
				#{if mgran.getName() != "?"}
					${mgran.getName()}, ${mgran.getDob()}, ${mgran.getGender()} <br>
				#{/if}
		 	#{/list}
		 #{/else}
	</div>	
	
	<div class="column">
		<h1> Paternal Cousins </h1>
		#{if driver.search.pcousins().size() != 0}
			#{list items: driver.search.pcousins(), as: 'pcous'}
				${pcous.getName()}, ${pcous.getDob()}, ${pcous.getGender()} <br>
		 	#{/list}
	 	#{/if}
	 	#{else}
	 	No paternal cousins.
	 	#{/else}
		
		<h1> Maternal Cousins</h1>
		#{if driver.search.mcousins().size() != 0}
			#{list items: driver.search.mcousins(), as: 'mcous'}
				${mcous.getName()}, ${mcous.getDob()}, ${mcous.getGender()} <br>
		 	#{/list}
	 	#{/if}
	 	#{else}
	 	No maternal cousins.
	 	#{/else}
	</div>	
</div>



